/* 全体を左右に分割 */
.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 左サイドバー */
.sidebar {
  width: 260px;
  background-color: #202225;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  flex-shrink: 0;
  z-index: 20;
}

/* サイドバー内のメインメニュー領域 */
.sidebar-nav {
  flex: 1;
  padding: 10px;
  flex-direction: column;
  background-color: #2b2d31;
  overflow-y: auto;
  border-radius: 12px;
}

.nav-item {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  transition: all 0.2s;
  font-size: 0.9rem;
  border-left: 3px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  margin: 2px 5px;
  border-radius: 4px;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.nav-item:active {
  background-color: rgba(88, 101, 242, 0.2);
  color: #fff;
  border-left: none;
  font-weight: 500;
}
/* サーバーリストを下に寄せるためのエリア */
.sidebar-footer-list {
  max-height: 40%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-color);
  background-color: rgba(0, 0, 0, 0.2); /* 少し暗く */
}

.server-list-container {
  overflow-y: auto;
  flex: 1;
  padding: 10px;
}

/* 右メインエリア */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  overflow: hidden;
  position: relative;
}

.top-bar {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  /* すりガラス効果 */
  background-color: rgba(18, 18, 20, 0.8);
  backdrop-filter: blur(12px);
  z-index: 10;
  flex-shrink: 0;
}

.top-bar h2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-primary);
}

/* ボタンエリアをフレックスボックスで横並び・右寄せに */
.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto; /* 右に寄せる */
}

.content-area {
  flex: 1;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}